* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}

.text-box,
form {
    min-height: 20vh;
    width: 60%;
    background: white;
    font-size: 2vh;
    padding: 15px;
}

.input-container {
    margin-top: 2vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#input-box {
    width: 60%;
    height: 5vh;
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 2vh;
    padding: 15px;
}

.current {
    background-color: rgb(255, 247, 179);
    text-decoration: underline;
}

.incorrect {
    color: red;
}

.correct {
    color: green;
}

.timer-box {
    align-self: auto;
}

.toolbar-container {
    width: 60%;
}

.toolbar {
    margin-top: 1vh;
    width: 60%;
    float: right;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.reset-btn {
    margin: 0;
    padding: 3px;
    background: inherit;
    font-family: "Poppins", sans-serif;
    font-size: inherit;
}
