@import "../../styling/mixins.scss";

.home {
    width: 80%;
    background-color: rgb(240, 240, 240);
    margin-top: 5vh;
    padding-top: 5vh;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .text-box,
    form {
        min-height: 10vh;
        width: 80%;

        border-radius: 8px;
        background: rgb(240, 240, 240);
        font-size: 1rem;
        padding: 15px;
        letter-spacing: 0.8px;
        line-height: 2.5vh;
    }

    .input-container {
        margin-top: 1vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #input-box {
        width: 80%;
        height: 2vh;
        border: none;
        outline: none;
        border-radius: 8px;
        background: rgb(240, 240, 240);

        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        padding: 15px;
    }

    .current {
        background-color: rgb(255, 247, 179);
        text-decoration: underline;
    }

    .incorrect {
        color: red;
    }

    .correct {
        color: green;
    }

    .timer-box {
        align-self: auto;
    }

    .toolbar-container {
        width: 80%;
        padding: 0 15px;
    }

    .toolbar {
        margin-top: 1vh;
        width: 60%;
        float: right;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8rem;

        .reset-btn {
            height: 2vh;
            @include btn();
        }
    }
}
