.data-container {
    width: 80%;
    margin-top: 3vh;
    margin-bottom: 5vh;
    background: rgb(240, 240, 240);

    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);

    .average-data {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        div {
            width: 100%;
            padding-bottom: 2vh;
        }

        .graph-container {
            margin: auto;
            width: 80%;
        }
    }
    
}
