body {
    width: 100%;
    margin: 0;
    padding: 0;

    background-image: linear-gradient(to top, #e4ddd6 0%, #dfdfdf 100%);
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}


